[submodule "daq/firmware/libopencm3"]
	path = daq/firmware/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "leg/software/pareto-leg-control"]
	path = leg/software/pareto-leg-control
	url = git@github.com:sburden-group/pareto-leg-control.git
[submodule "leg/odrive_firmware/ODrive"]
	path = leg/odrive_firmware/ODrive
	url = git@github.com:sburden-group/ODrive.git
